<form [formGroup]="myForm"  class="container">
  <div class="authorization">
    <div class="authorization__title">Вход</div>

    <div class="login underline">
      <img class="login__image" src="assets/Images/user.png" alt="">
      <input autofocus
             class="login__text"
             formControlName="userLogin"
             name="login"
             pattern="^[^\s]+(\s+[^\s]+)*$"
             placeholder="Логин"
             required>
    </div>

    <div class="password underline">
      <img class="password__image" src="assets/Images/key.png" alt="">
      <input class="password__text"
             formControlName="userPassword"
             name="password"
             pattern="^[^\s]+(\s+[^\s]+)*$"
             placeholder="Пароль"
             required
             type="password">
    </div>

    <p *ngIf="showError" class="authorization__error">{{textError}}</p>

    <button (click)="authorizationUser()"
            [disabled]="myForm.controls['userLogin'].invalid || myForm.controls['userPassword'].invalid"
            class="authorization__enter">
      Вход
    </button>

    <div class="authorization__registration"
         routerLink="/registration">
      регистрация
    </div>
  </div>
</form>

