<form [formGroup]="myForm" class="container">
  <div class="registration">
    <div class="registration__title">Регистрация</div>

    <div class="login underline">
      <img class="login__image" src="assets/Images/user.png" alt="">
      <input autofocus
             class="login__text"
             formControlName="userLogin"
             name="login"
             pattern="^[^\s]+(\s+[^\s]+)*$"
             placeholder="Логин"
             required>

    </div>

    <div class="password underline">
      <img class="password__image" src="assets/Images/key.png" alt="">
      <input formControlName="userPassword"
             name="login"
             pattern="^[^\s]+(\s+[^\s]+)*$"
             required
             type="password"
             placeholder="Пароль"
             class="password__text">
    </div>

    <div *ngIf="myForm.controls['userPassword'].valid" class="repeat-password underline">
      <input formControlName="userRepeatPassword"
             name="login"
             pattern="^[^\s]+(\s+[^\s]+)*$"
             required
             type="password"
             placeholder="Повтор пароля"
             class="repeat-password__text">
    </div>

    <p *ngIf="showError" class="registration__error">{{textError}}</p>

    <button
      (click)="registration()"
      [disabled]="myForm.controls['userLogin'].invalid || myForm.controls['userPassword'].invalid || myForm.controls['userRepeatPassword'].invalid"
      class="registration__enter">
      Зарегистрироваться
    </button>

    <div class="registration__cancel" routerLink="/authorization">назад</div>
  </div>
</form>
