<form class="container">
  <div class="profile">
    <div class="profile__title">Профиль</div>

    <div class="info underline">
      <div class="info__title">Логин:</div>
      <div class="info__text">{{user.login}}</div>
    </div>

    <div class="info underline">
      <div class="info__title">Фамилия:</div>
      <input #surname type="text"
             (keydown)="checkValue($event)"
             placeholder="Фамилия" class="info__text" value="{{user.surname}}">
    </div>

    <div class="info underline">
      <div class="info__title">Имя:</div>
      <input #name type="text"
             (keydown)="checkValue($event)" placeholder="Имя" class="info__text" value="{{user.name}}">
    </div>

    <div class="info underline">
      <div class="info__title">Отчество:</div>
      <input #patronymic type="text"
             (keydown)="checkValue($event)" placeholder="Отчество" class="info__text" value="{{user.patronymic}}">
    </div>

    <button class="profile__enter" (click)="saveChange(surname.value, name.value, patronymic.value)">Сохранить
    </button>

    <div class="profile__exit" routerLink="/">Выйти из аккаунта</div>

  </div>
</form>
