<form [formGroup]="myForm" class="container">
  <div class="profile">
    <div class="profile__title">Профиль</div>

    <div class="info underline">
      <div class="info__title">Логин:</div>
      <div class="info__text">{{user.login}}</div>
    </div>

    <div class="info underline">
      <div class="info__title">Фамилия:</div>
      <input formControlName="UserSurname"
             name="UserSurname"
             type="text"
             (keydown)="checkValue($event)"
             placeholder="Фамилия"
             class="info__text">
    </div>

    <div class="info underline">
      <div class="info__title">Имя:</div>
      <input formControlName="UserName"
             name="UserSurname"
             type="text"
             (keydown)="checkValue($event)"
             placeholder="Имя"
             class="info__text">
    </div>

    <div class="info underline">
      <div class="info__title">Отчество:</div>
      <input formControlName="UserSurname"
             name="UsePatronymic"
             type="text"
             (keydown)="checkValue($event)"
             placeholder="Отчество"
             class="info__text">
    </div>

    <button class="profile__enter" (click)="saveChange()">Сохранить
    </button>

    <div class="profile__exit" routerLink="/">Выйти из аккаунта</div>

  </div>
</form>
