.container {
  background: linear-gradient(90deg, #443750, #2d3655);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  background: #352946;
  width: auto;
  height: 60px;
  display: flex;
  justify-content: right;

  &__list {
    background: transparent;
    font-size: 24px;
    width: 200px;
    height: 50px;
    margin: 5px;
    color: white;
    border: solid 1px gray;
    cursor: pointer;

    &:hover {
      color: gray;
    }
  }

  &__profile {
    background: transparent;
    font-size: 24px;
    width: 150px;
    height: 50px;
    margin: 5px;
    color: white;
    border: solid 1px gray;
    cursor: pointer;

    &:hover {
      color: gray;
    }
  }
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
